{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une marque</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_marque_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
