<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <header>
        <h1>PharmaGGDTest</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ path('admin_marque_index') }}">Marques</a></li>
        </ul>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>PharmaGGDTest &copy; {{ "now"|date("Y") }}</p>
    </footer>
</body>
</html>
